#login-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* background-image: url("./background.jpg"); */
	background-size: cover;
	background-position: center;
}

#login-Hotel_logo {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 3%;
	height: 400px;
}

.login-background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.login-container {
	width: 40%;
	padding: 30px 50px;
	background-color: white;
	border-radius: 20px;
}

.login-container h2 {
	padding: 0;
	margin: 0px;
	font-size: 35px;
	padding-bottom: 15px;
	font-family: "Protest Revolution", sans-serif;
	font-style: normal;
}

#login-form {
	width: 100%;
	padding: 20px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	/* Semi-transparent white background */
	backdrop-filter: blur(10px);
	/* Adds a blur effect to the background */
}

.login-input-group {
	margin-bottom: 20px;
}

.login-input-group label {
	display: block;
	margin-bottom: 5px;
}

.login-input-group input {
	width: calc(100% - 20px);
	/* Adjust input width to fill remaining space and consider padding */
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.login-error {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

.btn-login {
	background-color: #ffc529;
	/* Yellow background */
	color: black;
	/* Black text color */
	padding: 10px 20px;
	/* Adjust padding as needed */
	border: none;
	/* Remove default border */
	border-radius: 10px;
	/* Rounded corners */
	cursor: pointer;
	/* Hand cursor on hover */
	font-weight: bold;
	/* Bold text */
	color: #121221;
	margin: 20px;
}

.btn-login:hover {
	background-color: #efb925;
}

.custom-alert {
	background-color: #f8d7da;
	color: #721c24;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

#login-LoginFrom-waringSign {
	color: red;
	font-style: italic;
	padding: 5px;
}

@media screen and (max-width: 768px) {
	.login-container {
		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	.login-container {
		width: 90%;
	}
}

@media screen and (max-width: 1285px) {
	#login-Hotel_logo {
		display: none;
	}
}
